#Archivos generados automaticamente
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
*.swp
*.swo
*.tmp
*.bak
*.aux
*.fls
*.fdb_latexmk
*.pdf

#Lazy lockfiles
lazy-lock.json

#Archivos de sincronización temporal
*.synctex.gz

#Archivos personales que no deseo compartir
